<h1><%= @user.name %>のページ</h1>
<h1>レシピ一覧</h1>

<table>
  <thead>
    <tr>
      <th>名前</th>
      <th>時間</th>
      <th>概要</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @recipes.each do |recipe| %>
      <tr>
        <td><%= recipe.name %></td>
        <td><%= recipe.cooktime %></td>
        <td><%= recipe.summary %></td>
        <td><%= link_to '確認', recipe_path(recipe.id) %></td>
        <td><%= link_to '削除', user_path(user_id: @user.id,recipe_id: recipe.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @recipes %>
