<!DOCTYPE html>
<html>
  <head>
    <title>TimeCook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.2.0/chart.min.js"
    integrity="sha512-VMsZqo0ar06BMtg0tPsdgRADvl0kDHpTbugCBBrL55KmucH6hP9zWdLIWY//OTfMnzz6xWQRxQqsUFefwHuHyg=="
    crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns@next/dist/chartjs-adapter-date-fns.bundle.min.js"></script>

  </head>

  <body>
    <% flash.each do |key, value| %>
      <%= content_tag(:div, value, class: "#{key}") %>
    <% end %>
    <nav class="header_nav">
    <ul class="global_nav">
    <li class="logo"><%= link_to "Time Cook", recipes_path %></li>
    <% if logged_in? %>
    <li class="global_nav_item"><%= link_to "ログアウト", session_path(current_user.id), method: :delete %></li>
    <li class="global_nav_item"><%= link_to "マイレシピ", user_path(current_user.id) %></li>
    <li class="global_nav_item"><%= link_to "レシピ検索", recipes_path %></li>
    <li class="global_nav_item"><%= link_to "アカウント編集", edit_user_path(current_user.id) %></li>
    <% else %>
    <li class="global_nav_item"><%= link_to "ログイン", new_session_path %></li>
    <li class="global_nav_item"><%= link_to "レシピ検索", recipes_path %></li>
    <li class="global_nav_item"><%= link_to "アカウント登録", new_user_path %></li>
    <% end %>
    </ul>
    </nav>
    <%= yield %>
  </body>

</html>
